@charset "UTF-8";
.fr {
  float: right; }

.fl {
  float: left; }

.flipx {
  transform: scaleX(-1);
  /*IE*/
  -webkit-filter: FlipH;
  filter: FlipH; }

.shadow, .btn {
  box-shadow: 0px 0px 8px #ddd; }

html, body {
  height: 100%;
  overflow: hidden; }

.fade-transition {
  transition: all .3s ease;
  overflow: hidden; }

.fade-enter, .fade-leave {
  opacity: 0; }

.section-transition {
  transition: all .5s ease;
  overflow: hidden; }

.section-leave {
  background-color: #aaa;
  height: 0;
  opacity: 0; }

.header {
  z-index: 810000;
  height: 45px;
  width: 100%;
  min-width: 960px;
  position: fixed;
  top: 0;
  border-top: 1px solid #ccc;
  border-bottom: 4px solid #555;
  background: #f9f9f9; }

.header-holder {
  font-size: 0;
  display: -ms-flexbox;
  display: flex; }

.header-holder li {
  font-size: 16px;
  line-height: 40px;
  border-right: 1px solid #ccc;
  padding: 0 14px;
  margin: 0;
  cursor: pointer;
  *display: inline;
  *zoom: 1; }

.header-holder li:hover {
  background-color: #ddd; }

.do-disabled {
  cursor: default !important; }

.do-disabled span {
  opacity: 0.4; }

.do-disabled:hover {
  background-color: #f9f9f9 !important; }

.color-schemes {
  padding: 0 !important; }

.go-to-dashboard {
  text-align: center;
  width: 60px; }

.publish {
  text-align: center;
  width: 120px;
  border-right: 0 !important;
  background-color: #337ab7;
  color: #fff; }

.publish:hover {
  background-color: #428bca !important; }

.version-switch {
  margin: 5px 20px; }

.toolbar {
  position: fixed;
  z-index: 810000;
  width: 86px;
  text-align: center;
  top: 55px;
  left: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.toolbar-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #555;
  line-height: 35px;
  color: #fff; }

.toolbar-body {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.tool {
  width: 66px;
  height: 66px;
  margin-top: 10px;
  padding: 4px;
  border: 5px solid #BEE1F1;
  border-top-right-radius: 33px;
  border-top-left-radius: 33px;
  border-bottom-right-radius: 33px;
  border-bottom-left-radius: 33px;
  cursor: pointer;
  font-size: 12px;
  color: #333; }

.tool:hover {
  border-color: #98CFE9;
  color: #333; }

.tool span {
  color: #337ab7;
  font-size: 24px; }

.tool-name {
  border-top: 1px solid #BEE1F1;
  margin: 1px; }

.main {
  height: 100%;
  margin-top: 45px;
  overflow: auto; }

.workspace {
  position: relative;
  z-index: 0; }

#content-area {
  position: absolute;
  left: 50%; }

.editable-area {
  position: relative;
  margin: 0 auto;
  border-left: 1px dashed #03ddff;
  border-right: 1px dashed #03ddff;
  height: 100%; }

.page-section {
  top: 0px;
  position: relative;
  border-bottom: 1px dashed #03ddff; }

.page-section-operation {
  top: 5px;
  z-index: 10; }

.element {
  position: absolute; }

.el-content.outline {
  outline: 1px solid #03ddff;
  box-shadow: 0px 0px 8px #ddd; }

.el-content:hover {
  outline: 1px solid #03ddff; }

.el-toolbar {
  position: absolute;
  min-width: 400px;
  z-index: 79000;
  left: -1px; }

.el-toolbar.top {
  top: -43px; }

.el-toolbar.bottom {
  bottom: -43px; }

.resize-line-wrap {
  position: absolute;
  bottom: -49px;
  left: 0;
  width: 100%;
  height: 100px;
  cursor: ns-resize;
  z-index: -1;
  display: block;
  background: transparent;
  border: 0; }

.resize-line {
  position: absolute;
  width: 100%;
  z-index: 10001;
  border-bottom: 1px dashed #03ddff;
  cursor: n-resize;
  height: 5px;
  bottom: -1px; }

/* 禁止文本选择 */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=editor.css.map */
