.header{
  z-index:810000;
  height:45px;
  width:100%;
  min-width:980px;
  position:relative;
  border-top:1px solid #ccc;
  border-bottom:4px solid #555;
  background:#f9f9f9;
}

.header-holder{
  font-size:0;
  display:flex;
}

.header-holder li{
  font-size:16px;
  line-height:40px;
  border-right:1px solid #ccc;
  padding:0 14px;
  margin:0;
  cursor:pointer;
  *display:inline; 
  *zoom:1;
}

.header-holder li:hover{
  background-color:#ddd;
}

.do-disabled{
  cursor: not-allowed!important;
}

.do-disabled span{
  opacity:0.4;
}

.do-disabled:hover{
  background-color:#f9f9f9!important;
}

.color-schemes{
  padding:0!important;
}

.go-to-dashboard{
  text-align:center;
  width:60px;
}

.publish{
  text-align:center;
  width:120px;
  border-right:0 !important;
  background-color:#337ab7;
  color:#fff;
}

.publish:hover{
  background-color:#428bca !important;
}

.version-switch{
  margin:5px 20px;
}



